* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   outline: none;

   &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: rgba(205, 205, 205, 0.8);
      ;
      border-radius: 12px;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
      cursor: pointer;
   }

   font-family: 'Inter',
   sans-serif;
}

@font-face {
   font-family: 'Inter';
   src: url('./fonts/Inter/Inter-Regular.ttf') format('truetype');
}

body {
   height: 100vh;
   background-color: #141414;
   color: white;
   font-family: cursive;
}

table {
   border-collapse: collapse;
}

.cm-editor {
   font-size: 15px !important;
}

td,
th {
   border: 1px solid white !important;
   padding: 5px 10px;
}

.mainHeaderTitle {
   padding-top: 54px;
   padding-bottom: 54px;
   letter-spacing: 10px;
   text-transform: uppercase;
}

.neon {
   // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #00fe61;
   text-shadow:
      0 0 5px rgba(255, 255, 255, 0.7),
      0 0 10px rgba(255, 255, 255, 0.7),
      0 0 20px rgba(255, 255, 255, 0.7),
      0 0 40px rgba(0, 255, 255, 0.7),
      0 0 80px rgba(0, 255, 255, 0.7),
      0 0 90px rgba(0, 255, 255, 0.7),
      0 0 100px rgba(0, 255, 255, 0.7),
      0 0 150px rgba(0, 255, 255, 0.7);
}

a {
   color: #05b !important;
   cursor: pointer;
}

#root {
   height: 100%;
}

.button {
   padding: 10px 30px;
   cursor: pointer;
   border-radius: 20px;
   transition: 0.3s;
   background: rgb(62, 62, 62);
   color: white;

   &:hover {
      box-shadow: 0 0 15px rgba(62, 62, 62, 0.5);
   }
}

.main-container {
   height: 600px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.widjet-container {
   width: 40%;
   height: 100%;
   padding: 6px;
}

.center-container {
   width: 100%;
   text-align: center;
}

.start-btn {
   padding: 15px;
}

.copyBtn {
   &-copied {
      background: #568909 !important;
   }
}

ul {
   padding-left: 16px;
}