.AttrList-TitleTemplate {
   transition: 0.3s;
   padding: 10px 15px;
   border-radius: 15px;
   cursor: pointer;

   &:hover {
      background-color: rgb(62, 62, 62);
   }
}

.AttrList-ItemTemplate {
   padding: 10px 15px;
}

